<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="card header">
  <div class="card-header">
    <h4><a class="" href="/blog/{{id}}">{{title}}</a>
    <a style="font-size:smaller">{{user.name}}, {{format_date created_at}}</a>
    </h4>
    <p>{{content}}</p>
    </div>
</div>
{{/each}}
